name: "Test Module"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: "TerraTest"
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_OWNER: project-manager-testing
      TF_IN_AUTOMATION: true
      TF_CLI_ARGS: "-no-color"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.11
          terraform_wrapper: false

      - name: Run Intergration Tests
        run: |
          cd test
          go test -v ./...
